{% extends "base.html" %}


{% block title_head %}
<title> About </title>
{% endblock title_head %}



{% block h1_header %}
Federico&Ana
{% endblock h1_header %}

{% block main %}
    Este proyecto comenzo como una oportunidad ya <br>
    que en nuestra ciudad no había quien realice sushi
<center>
    Federico: <br>
    Ing. Industrial, recibido en la UCC <br>
    Buscando una Argentina mejor... <br>

    Ana:<br>
    La mejor cocinera del nordeste <br>
    Mama de Totito <br>
    Ofreciendo el Mejor Sushi
</center>

{% endblock main %}